<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    {{$seo-meta}}{{/seo-meta}}
    <title>{{$page-title}}まとめ〜た!!{{/page-title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
  <body>
    {{>page-header}}
    <div class="container">
      {{$content}}{{/content}}
    </div>
    {{>page-footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>