<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">まとめーた!!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/"><span class="glyphicon glyphicon-comment"></span> Posts</a></li>
        <li><a href="/tags"><span class="glyphicon glyphicon-tags"></span> Tags</a></li>
        <li><a href="/members"><span class="glyphicon glyphicon-user"></span> Members</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
