{{<layout}}
  {{$seo-meta}}
    <meta name="keywords" content="Qiita,まとめ,matome-ta">
    <meta name="description" content="まとめーたはQiitaの投稿をまとめるてブログを作るツールです">
    <meta name="author" content="master-of-sugar">
    <meta name="generator" content="まとめーた！！">
    
    <meta property="og:title" content="{{post.title}}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{post.title}}">
    <meta property="og:url" content="https://github.com/master-of-sugar/matome-ta">
    <meta property="og:image" content="http://nex.fm/wp-content/uploads/2011/03/a0790_000107_m-300×200.jpg">
    <meta property="og:site_name" content="まとめーた！！">
    <meta property="og:email" content="info@facebookapps.jp">
  {{/seo-meta}}
  {{$page-title}}
    {{post.title}}-matome-Ta!!
  {{/page-title}}
  {{$content}}
    <div class="page-header">
      <h1>{{post.title}} <small>{{post.id}}</small></h1>
      <span class="glyphicon glyphicon-tag"></span>
      {{#post.tags}}
        <a href="/tag/{{name}}">
        <span class="label label-success">{{name}}</span>
        </a>
      {{/post.tags}}
    </div>
    <span class="glyphicon glyphicon-time"></span> Posted on {{post.updatedAt}}
    <hr />
    {{{post.renderedBody}}}
  {{/content}}
{{/layout}}